{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">
  <div class="col text-center">
    <a class="btn btn-primary btn-lg m-5" href="/add" role="button">📄 UPLOAD NEW FILE</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Detail</th>
          <th scope="col">Filename</th>
          <th scope="col">description</th>
          <th scope="col">Date Uploaded</th>
        </tr>
      </thead>
      {% if no_records %}
      <tbody></tbody></table></div><div class="alert alert-warning m-5" role="alert">No files found.</div>
      {% else %}
      <tbody>
        {% for file in files %}
        <tr>
          <th scope="row"><a class="btn btn-link btn-sm" href="/detail/{{ file.file_id }}" role="button">Detail</a></th>
          <td>{{ file.s3_key }}</td>
          <td>{{ file.description }}</td>
          <td>{{ file.timestamp }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}