{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<h2 class="m-5">Upload File</h2>
<form class="m-5" action="/" method='POST' enctype="multipart/form-data">
    <div class="form-group pb-3">
        <label for="file">File : </label>
        <input type="file" name="file" aria-describedby="file-help">
        <small id="file-help" class="form-text text-muted">Choose your file. Permitted extentions are : txt / pdf / png / jpg / jpeg / gif</small>
    </div>
    <div class="form-group pb-3">
        <label for="description">File Description : </label>
        <input type="text" class="form-control" name="description" aria-describedby="description-help">
        <small id="description-help" class="form-text text-muted">Explain the file you upload.</small>
    </div>
    <div class="text-right">
        <a class="btn btn-outline-success" href="/" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg> Back to Top
        </a>
        <button type="submit" class="btn btn-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
            </svg> Submit
        </button>
    </div>
</form>

{% endblock %}